@use "./partials/variables" as *;
@import "@fontsource/montserrat";
 @import "@fontsource/montserrat/700.css";



body{
    background-color: $background;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}
